* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

.navigation {
  display: flex;
  width: 1728px;
  height: 1117px;
  padding-bottom: 1013px;
  justify-content: center;
  align-items: center;
  background: #e9e9e9;
}

.top-bar {
  display: flex;
  width: 1728px;
  padding: 20px 50px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.menu {
  display: flex;
  padding: 20px 30px;
  align-items: flex-start;
  gap: 20px;
  border-radius: 32px;
  background: #fff;

  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.tools {
  display: flex;
  align-items: flex-start;
}

.language {
  display: flex;
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  background: #fff;
  font-family: Inter;
  font-weight: 700;
}

.contact {
  display: flex;
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  background: #fff;
}
